.DS_Store
.vscode/
engine/.DS_Store

# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

*.o
*.txt
*.exe
*.dll

engine/.vscode
engine/script.py
engine/See.cpp
engine/See.h

!CMakeLists.txt
build/
